@import 'tailwindcss';
@import '@nuxt/ui';

@source '../..';

@theme {
  --color-admin-content: var(--color-zinc-800);
  --color-admin-sidebar: var(--color-zinc-900);

  --font-outfit: 'Outfit', sans-serif;
}
